<!DOCTYPE html>
<html lang="ko">
  <head>
  </head>
  <body>
    <h1>과일 목록</h1>
    <ol>
    <% for (let i=0; i<fruits.length; i++) {%>
      <li><%= fruits[i] %></li>
    <% }%>
    </ol>
  </body>
</html>